v{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ article.category }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="alert alert-warning advert" role="alert">
    Want to learn machine learning? Use my <a href="https://machinelearningflashcards.com" class="alert-link">machine learning flashcards</a>.
</div>

<section id="content" class="body">
    <header>
    <h1>
      {{ article.title }}
    </h1>
<ol class="breadcrumb">
    <li>
        <time class="published" datetime="{{ article.date.isoformat() }}">
            {{ article.date.strftime("%d %B %Y") }}
        </time>
    </li>
    <li>{{ article.category }}</li>
    {% for tag in article.tags %}
    <li>{{tag}}</li>
    {% endfor %}
</ol>
</header>
<div class='article_content'>
{{ article.content }}
</div>
    <aside>
    <div class="bug-reporting__panel">
        <h3>Find an error or bug?</h3>
        <p>Everything on this site is available on GitHub. Head to <a href='https://github.com/chrisalbon/notes_on_data_science_machine_learning_and_artificial_intelligence/issues/new'>and submit a suggested change</a>. You can also message me directly on <a href='https://twitter.com/chrisalbon'>Twitter</a>.</p>
    </div>
    </aside>
</section>

{% endblock %}
